
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}


img[alt="Logo da Loja"] {
    display: block;
    margin: 50px auto 20px auto;
}

h1 {
    text-align: center;
    color: #005c99;
}

nav {
    background-color: #005c99;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    color: #0073e6;
    margin-top: 30px;
    padding-left: 20px;
}

p, ul, a {
    padding: 0 20px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

li img {
    display: block;
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    li {
        padding: 10px;
    }

    img[alt="Logo da Loja"] {
        width: 100px;
    }

    li img {
        width: 100%;
        height: auto;
    }
}